{"filter":false,"title":".babelrc","tooltip":"/public/.babelrc","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":7,"column":10},"end":{"row":7,"column":10},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1493386473360,"hash":"bee05569b7c78f286b220b2e498ef62b5794fb16"}