{"filter":false,"title":".eslintignore","tooltip":"/public/.eslintignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1493386464911,"hash":"df0a50b13cc00acb749226fee3cee6e0351fb1d9"}